body{
	margin-left: 5%;
	margin-right: 5%;
	background-color: #EBEAEB;
}

h1{
	text-align: center;
	font-variant: small-caps;
	font-family: "Agency FB", "Bahnschrift SemiBold Condensed", "Bahnschrift";
	font-size: 650%;
	color: #EBEAEB;
	background-color: #08090A;
	margin-bottom: 20px;
}

nav{
	text-align: center;
	text-transform: uppercase;
	font-family: "Arial Narrow";
	font-size: 150%;
	color: #08090A;
	font-weight: bold;
	margin-left: 20%;
	margin-right: 20%;
}

.button{
	display: inline-block;
	color: #832161;
	text-decoration: none;
	font-family: "Arial Narrow";
	font-size: 120%;
	border: solid 3px;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

.button:hover{
	color: #EBEAEB;
	background-color: #421030;
	border-color: #421030;
}

a{
	color: #832161;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: #421030;
	font-weight: bold;
}

h2{
	text-align: center;
	text-transform: uppercase;
	font-family: "Agency FB", "Bahnschrift Semibold Condensed", "Bahnschrift";
	font-size: 500%;
	color: #08090A;
	margin-bottom: 20px;
	margin-left: 20%;
	margin-right: 20%;
}

h3{
	text-align: left;
	text-transform: uppercase;
	font-family: "Agency FB", "Bahnschrift Semibold Condensed", "Bahnschrift";
	font-size: 350%;
	color: #08090A;
	margin-bottom: 20px;
}

h4{
	text-align: left;
	font-family: "Agency FB", "Bahnschrift Semibold Condensed", "Bahnschrift";
	font-size: 250%;
	color: #832161;
	margin-bottom: 20px;
}

h5{
	text-align: left;
	font-family: "Agency FB", "Bahnschrift Semibold Condensed", "Bahnschrift";
	font-size: 150%;
	color: #08090A;
	margin-bottom: 20px;
}

details{
	text-align: left;
	font-family: "Arial Narrow";
	color: #08090A;
}

summary{
	text-transform: uppercase;
	font-weight: bold;
}

section{
	font-size: 120%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20px;
}

p{
	font-family: "Arial Narrow";
	color: #08090A;
}

footer{
	text-align: right;
	display: inline-block;
	float: right;
	width: 100%;
	background-color: #08090A;
	color: #FFFFFF;
}

.column-left{
	display: inline-block;
	float: left;
	width: 44.5%;
	font-size: 100%;
	margin-left: 0% !important;
	margin-right: 10% !important;
}

.column-right{
	display: inline-block;
	float: left;
	width: 44.5%;
	font-size: 100%;
	margin-right: 0% !important;
	margin-left: 0% !important;
}

.alone{
	display: inline-block;
	float: left;
}

.footer-text{
	color: #EBEAEB;
	margin-right: 10%;
}

figure{
	display: inline-block;
	float: right;
}
